body{ 
    background: #eee; 
    color: #333; 
    font-family: Cambria; 
    font-size:15px; 
} 
 
#wrapper{ 
    background: #fff; 
    width: 1100px; 
    margin: 20px auto; 
} 

.foto{
    float: right;
    margin-right: 500px;
    border: 1px solid #555;
}
 
#wrapper header{ 
    background: #ef80d7; 
    padding: 20px; 
} 
 
#wrapper header hgroup{ 
    float: left; 
    color: #fff; 
} 
 
#wrapper header nav{
    float: right; 
    margin-top: 50px; 
} 
 
#wrapper header nav ul{ 
    padding: 0; 
    margin: 0; 
} 
 
#wrapper header nav ul li{ 
    float: left; 
    list-style: none; 
} 
 
#wrapper header nav ul li a{ 
    padding: 15px; 
    color: #fff; 
    text-decoration: none; 
} 
 
.clear{ 
    clear: both; 
} 
 
footer{ 
    background: #ef80d7; 
    padding: 20px; 
} 

footer a{ 
    color: #fff; 
    text-decoration: none; 
} 
 
section{ 
    padding: 20px; 
}